# Node rules:
## Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

## Dependency directory
## Commenting this out is preferred by some people, see
## https://docs.npmjs.com/misc/faq#should-i-check-my-node_modules-folder-into-git
node_modules

# Book build output
_book

# eBook build output
*.epub
*.mobi
*.pdf
ConsoleAppFuncional/obj/ConsoleAppFuncional.csproj.nuget.dgspec.json
ConsoleAppFuncional/obj/project.assets.json
ConsoleAppFuncional/obj/project.nuget.cache
ConsoleAppFuncional/obj/Debug/net5.0/ConsoleAppFuncional.assets.cache
ConsoleAppFuncional/obj/Debug/net5.0/ConsoleAppFuncional.csproj.AssemblyReference.cache
ConsoleAppFuncional/obj/Debug/net5.0/ConsoleAppFuncional.GeneratedMSBuildEditorConfig.editorconfig
